/* Importing fonts
    Karla - weights: 400, 700 */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --light-grey: hsl(204, 43%, 93%);
  --greyish-blue: hsl(218, 22%, 67%);
  --cyan: hsl(179, 62%, 43%);
  --darker-cyan: rgba(74, 190, 189, 255);
  --bright-yellow: hsl(71, 73%, 54%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  font-family: "Karla", sans-serif;
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.community-container {
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: white;
  padding: 4% 6% 0% 6%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.community-container h1 {
  color: var(--cyan);
  font-size: 1.7rem;
}

.community-container h2 {
  margin-top: 4%;
  color: var(--bright-yellow);
  font-size: 1.2rem;
}

.community-container p {
  color: var(--greyish-blue);
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 10%;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cyan);
  color: white;
  padding: 10% 15% 8% 12%;
  border-bottom-left-radius: 10px;
}

.subscription-container button {
  margin-bottom: 10%;
  border: none;
  border-radius: 5px;
  padding: 5% 1%;
  background-color: var(--bright-yellow);
  color: white;
  font-size: 1.1rem;
}

.subscription-container h2 {
  font-size: 1.2rem;
}

.subscription-container .price-span {
  font-size: 2.2rem;
  font-weight: 700;
}

.subscription-container .month-span {
  color: var(--light-grey);
  font-size: 1rem;
  margin-left: 5%;
}

.subscription-container .access-span {
  font-size: 1rem;
  margin-top: -12%;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -6%;
}

.why-container {
  background-color: var(--darker-cyan);
  padding: 10% 15% 8% 12%;
  border-bottom-right-radius: 10px;
}

.why-container h2 {
  color: white;
  font-size: 1.2rem;
}

.why-container p {
  color: var(--light-grey);
  line-height: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .community-container {
    padding: 4% 1% 0% 6%;
  }
  .subscription-container {
    grid-column-start: 1;
    grid-column-end: span 2;
    padding: 10% 8% 8% 8%;
    border-bottom-left-radius: 0px;
  }

  .why-container {
    grid-column-start: 1;
    grid-column-end: span 2;
    padding: 10% 8% 8% 8%;
    border-bottom-left-radius: 10px;
  }

  .subscription-container .access-span {
    margin-top: 0%;
  }

  .price-container {
    margin-top: 0%;
  }

  .subscription-container button {
    margin-bottom: 0%;
    margin-top: 10%;
  }
}
